[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "fastapi run app/main.py"

[packages]
fastapi = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
aiosqlite = "*"
greenlet = "*"
passlib = "*"
jose = "*"
pillow = "*"
jwt = "*"
pydantic-settings = "*"
sqlmodel = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.6"
